body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.s{
    color: orange;
}

section{
    display: flex;
}
.d1{
    width: 50%;
    padding-left: 10%;
}
.d1 img{
    width: 80%;
}
.b{
    text-decoration: none;
    background-image: linear-gradient(orange, red, rgb(150, 115, 115), yellow);
    background-color: orange;
    padding: 10px 40px;
    color: antiquewhite;
    font-weight: 700;
    border-radius: 5px;
}
.bn{
    background-image: url(bg1.png);
}